#assignments .panel-group .panel {
    margin-top: 3px;
    margin-bottom: 1em;
}

#assignments .panel-group .panel .panel-heading {
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color:#D2EDZFB !important;
    font-weight:600;
    padding-left:20px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-family:'Gothic A1';
    font-size:15px;
}

#assignments .panel-group .panel .panel-heading a:focus, a:hover {
    text-decoration: none;
}

#assignments .panel-group .panel .panel-body {
    padding: 0;
}

#assignments .panel-group .panel .panel-body .list_container {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#assignments .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #ddd;
}

#assignments .panel-group .panel .panel-body .list_container .list_item:last-child {
    border-bottom: 0px;
}

#assignments .assignment-notebooks .list_item {
    background-color: inherit !important;
}

#assignments .assignment-notebooks .list_item:hover {
    background-color: #ddd !important;
}

#assignments .assignment-notebooks .list_item:first-child:hover {
    background-color: inherit !important;
}

#assignments .list_item {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#assignments .list_item > div {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#assignments .item_status {
    text-align: right;
}

#assignments .item_status .btn {
    min-width: 13ex;
}
#assignments .list_placeholder, #assignments .list_loading, #assignments .list_error, #assignments .#assignments .version_error{
    font-weight:400 !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    padding-left:20px !important;
    font-famlily:'Gothic A1';
    font-size:15px;
}

#submission-message p,
#validation-message p {
    margin-bottom: 1em;
    padding-top: 1em;
}

#submission-message pre,
#validation-message pre {
    margin-left: 1em;
    margin-right: 1em;
}

#submission-message pre {
    white-space: pre;
}

#assignments .list_placeholder, #assignments .list_loading, #assignments .list_error {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}
#course_list_default{
    border-color:#5FBEF0;
    border-radius:20px;
    padding-right:40px;
    padding-left:10px;
    font-family:'Gothis A1';
    font-size:15px;
    font-weight:600;
}
#course_list_default:hover{
    background-color:white;
}
#course_list_dropdown{
    border:none;
    margin-left:-40px;
    margin-top:2px;
    padding-left:16px;
}
.col-sm-8.mo-padding{
    padding-top:15px;
    padding-bottom:25px;
    font-family:'Gothic A1';
    font-size:15px;
}
#assignments_buttons{
    margin-top:15px;
    border-color:#5FBEF0;
}
.panel.panel-default{
    border-radius:20px;
    border-color:#5FBEF0;
    margin-bottom:30px !important;
}
.panel-heading{
    background-color: #D2EDFB !important;
}
