#assignments .panel-group .panel {
    margin-top: 3px;
    margin-bottom: 1em;
}

#assignments .panel-group .panel .panel-heading {
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    font-weight:600;
    padding-left:20px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-family:'Gothic A1';
    font-size:15px;
    background-color: #D2EDFB !important;
}

#assignments .panel-group .panel .panel-heading a:focus, a:hover {
    text-decoration: none;
}

#assignments .panel-group .panel .panel-body {
    padding: 0;
}

#assignments .panel-group .panel .panel-body .list_container {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#assignments .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #ddd;
}

#assignments .panel-group .panel .panel-body .list_container .list_item:last-child {
    border-bottom: 0px;
}

#assignments .assignment-notebooks .list_item {
    background-color: inherit !important;
}

#assignments .assignment-notebooks .list_item:hover {
    background-color: #ddd !important;
}

#assignments .assignment-notebooks .list_item:first-child:hover {
    background-color: inherit !important;
}

#assignments .list_item {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 22px;
}

#assignments .list_item > div {
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0;
    padding-right: 0;
}
.list_item.row{
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.col-md-12:hover{
     pointer-events: none !important;
}

#assignments .item_status {
    text-align: right;
}

#assignments .item_status .btn {
    min-width: 13ex;
}
.btn.btn-primary.btn-xs{
    margin-right: 5%;
    border-radius: 15px;
    background-color: #5FBEF0;
    border: 0px;
    height: 30px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:2%;
}
#assignments .list_placeholder, #assignments .list_loading, #assignments .list_error, #assignments .#assignments .version_error{
    font-weight:400 !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    padding-left:20px !important;
    font:'Gothic A1' !important;
    font-size:15px;
}
.col-md-12:hover{
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
#submission-message p,
#validation-message p {
    margin-bottom: 1em;
    padding-top: 1em;
}
#refresh_assignments_list{
   border:1px solid #5FBEF0;
   background-color:#D2EDFB;
}
#submission-message pre,
#validation-message pre {
    margin-left: 1em;
    margin-right: 1em;
}

#submission-message pre {
    white-space: pre;
}

#assignments .list_placeholder, #assignments .list_loading, #assignments .list_error {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}
#course_list_default{
    border-color:#5FBEF0;
    border-radius:20px;
    padding-right:40px;
    padding-left:10px;
    font-family:'Gothis A1';
    font-size:15px;
    font-weight:600;
}
#course_list_default:hover{
    background-color:white;
}
#course_list_dropdown{
    border:none;
    margin-left: 0%;
    margin-top:2%;
}
#course_list_dropdown:hover{
   background-color:#5FBEF0;
}
.col-sm-8.mo-padding{
    padding-top:15px;
    padding-bottom:25px;
    font-family:'Gothic A1';
    font-size:15px;
}
#assignments_buttons{
    border-color: #5FBEF0;
    padding-right: 3px;
}
.panel.panel-default{
    border-radius:20px;
    border-color:#5FBEF0;
    margin-bottom:2% !important;
}
.item_name.col-sm-6,.item_status.col-sm-4,.item_status.col-sm-2{
    padding-left:20px;
    font-size:14px;
    padding-top:3px;
    padding-bottom:3px;
}
.item_name.col-sm-6{
    color:#006BB6;
}
.list_container > div {
    border-bottom: 0px !important;
}

